.main-box {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 80%;
    height: auto;


}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}
label {
    padding-right: 10%;

}

form div {
    flex-direction: column;
}

button {
    position: relative;
    top: 9px;
}

